.shop-section-45875487 {
    width: 70%;
    padding-bottom: 6rem;
    margin: 1rem auto auto;
}

.shop-header-4578544 {
    display: flex;
    justify-content: space-between
}

.shop-select-5872154 {
    display: block;
    padding: 0 .6rem 0 .6rem;
    font-size: small;
    background: white;
    border-radius: 9px;
    color: black
}

.shop-input-search-587254 {
    display: block;
    padding: 0 .6rem 0 .6rem;
    width: 100%;
    z-index: 20;
    font-size: small;
    background: white;
    border-radius: 9px;
    color: black
}

.shop-button-search-565787 {
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem .6rem .2rem .6rem;
    font-size: small;
    background: #0a58ca;
    color: white;
    border-radius: 0 9px 9px 0
}

.shop-input-number-587254 {
    display: block;
    padding: 0 .6rem 0 .6rem;
    width: 100%;
    z-index: 20;
    font-size: small;
    background: white;
    border-radius: 9px;
    color: black
}

.shop-button-number-565787 {
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem .6rem .2rem .6rem;
    font-size: small;
    background: #0a58ca;
    color: white;
    border-radius: 0 9px 9px 0
}

.shop-grid-main-5548754 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1.6rem;
}

.shop-grid-item-596587 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    margin-top: 1.6rem;
}

@media (max-width: 1024px) {
    .shop-grid-main-5548754 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .shop-grid-main-5548754 {
        grid-template-columns: 1fr;
    }

    .shop-grid-item-596587 {
        grid-template-columns: 1fr;
    }
}

.shop-col-span-2-668745 {
    grid-column: span 2;
}

.shop-col-span-4-157875 {
    grid-column: span 4;
}

.shop-scale-hover-5987548 {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative;
    background: transparent;
    border-radius: 9px;
    border: 1px solid #1f2937;
}

.shop-link-container-45754 {
    padding: 0 .6rem .6rem .6rem;
}

.shop-scale-hover-5987548:hover {
    transform: scale(1.07);
}

.shop-discount-badge-45787 {
    z-index: 5000;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 10%) rotate(-10deg);
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border-radius: 0 16px 0 16px;
}


.shop-carousel-568945 {
    position: relative;
    width: 100%;
}

.shop-carousel-wrapper-48721565 {
    position: relative;
    height: 18.6rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.shop-carousel-item-698757845 {
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.shop-carousel-item-698757845.active {
    display: block !important;
}

.shop-carousel-img-548754 {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    top: 50%;
    left: 50%
}

.shop-carousel-indicators-6478454 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    gap: 0.5rem;
    z-index: 50;
}

.shop-carousel-indicator-9675487 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.shop-carousel-indicator-span-9675487 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: #4c6ce8;
    border-radius: 100%
}

.shop-carousel-indicator-9675487.active {
    background-color: #555;
}

.shop-carousel-control-3588745 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
}

.shop-carousel-control-3588745.prev {
    left: 0;
}

.shop-carousel-control-3588745.next {
    right: 0;
}

.shop-solo-img-5678451 {
    width: auto;
    height: 18.6rem;
    border-radius: 0.5rem;
    margin: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    top: 50%;
    left: 50%
}

.shop-price-section-457854 {
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: 1px solid #1f2937;
}

.shop-review-4578211 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}